@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body{
    color: white;
    background-color: black;
    font-family: 'Google Sans';
}

#title{
    text-align: center;
}

#not-avaliable{
    color: red;
}

#not-avaliable-capital-letter {
    color: red;
}
